.news{
    text-decoration: none;
}

.news:hover{
    cursor: pointer;
}

.newsText{
	display: flex;
	flex-direction: column;
	font-family: 'Inter', sans-serif;
	text-align: center;
	font-size: 14px;
	color: #414141;
	justify-content: flex-start;
	align-items: center;
	padding: 10px;
    text-overflow: ellipsis;
    line-clamp: 2;
    word-break: break-word;

    overflow: hidden;
}

.newsTitleBox{
    max-height: 50%;

    text-overflow: ellipsis;
    line-clamp: 2;
    width: 100%;
    word-break: break-word;
    overflow: hidden;
}
.newsTitle{
    display: -webkit-box;
    padding: 5px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;

}
